<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<div class= 'container container-full-height'>
  <h2 class="title text-center">Habitats</h2>
  <div id="map"
    data-withmarker="true"
    style="width: 100%; height: calc(100vh - 210px);"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<%= render 'shared/footer' %>
