<header>
	<nav>
    <ul class="nav-menu">
      
      <%= image_tag "logo_navbar.svg", class: "logo-navbar" %>

      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Favorites", favorites_path %>
      </li>
      <li>
        <%= link_to "Know more About us", aboutus_path %>
      </li>
      <li>
        <%= link_to "Marine Life Associations", associations_path %>
      </li>
      <li>
        <%= link_to "Augmented Reality (Beta-Test)", ar_show_path %>
      </li>
      <li>
        <%= render 'shared/sign-in-out' %>
      </li>
    </ul>

    <div class="menu-btn">
      <div class="toggle-btn">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
  </nav>
</header>

