
<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<div class="associations-message">
  <h4>Our website is free. To help us please consider donating to one of the following association.</h2>
</div>


<div class="card-association">
  <%= image_tag src="surfrider.jpg" %>
  <div class="card-association-infos">
    <h2>Surf Rider</h2>
    <p> Surfrider Europe was created in 1990 by a group of surfers who wanted to preserve their playground.</p>
    <a class="btn-ghost" href="https://www.mba.ac.uk/">Donate</a>
  </div>
</div>

<div class="card-association">
  <%= image_tag src="MBA.jpg" %>
  <div class="card-association-infos">
    <h2>Marine Biological Association</h2>
    <p> Promoting marine scientific excellence and representing the <strong>marine biological</strong> community.</p>
    <a class="btn-ghost" href="https://www.mba.ac.uk/">Donate</a>

  </div>
</div>

<div class="card-association">
  <%= image_tag src="coralgardeners.jpg" %>
  <div class="card-association-infos">
    <h2>Coral Gardenners</h2>
    <p> Coral reefs are the rainforests of the oceans, providing a home for a dazzling array of life.</p>
    <a class="btn-ghost" href="https://www.coralgardeners.org/">Donate</a>
  </div>
</div>

<div class="card-association">
  <%= image_tag src="seashepperd.jpg" %>
  <div class="card-association-infos">
    <h2>Sea Shepperds</h2>
    <p>Established in 1977, our mission is to end the <strong>destruction of habitat</strong> and slaughter of wildlife in the world’s oceans.</p>
      <a class="btn-ghost" href="https://seashepherd.org/">Donate</a>

  </div>
</div>

<div class="card-association">
  <%= image_tag src="seacleaners.jpg" %>
  <div class="card-association-infos">
    <h2>Sea Cleaners</h2>
    <p>Educate and prevent to raise awareness of future generations
    </p>
    <a class="btn-ghost" href="https://www.theseacleaners.org/en">Donate</a>
  </div>
</div>


