<h1>Animals#index</h1>
<p>Find me in app/views/animals/index.html.erb</p>

<h1 class="text-center">Searching animals</h1>

    <%= render 'shared/searchbar' %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="animals">
        <ul>
          <% @animals.each do |animal| %>
            <li><%= link_to animal.common_name, animal_path(animal) %></li>
              <h4><%= animal.common_name %></h4>
              <p><%= animal.latin_name %></p>
              <p><%= animal.description %></p>
              <% if animal.image %>
            <li> <%= image_tag animal.image, width: 200 %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% end %>
