<div class= 'container'>
  <div class="container-animal text-center">
    <h2><%= @animal.common_name %></h2>
    <p><i><%= @animal.latin_name %></i></p>
    <%= image_tag @animal.image %><br>
    <div class= 'description'>
      <p><%= @animal.description %></p>
    </div>
    <div id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
    <%= render 'shared/footer' %>
