<h1>Animals#show</h1>
<p>Find me in app/views/animals/show.html.erb</p>

<h2><%= @animal.common_name %></h2>
<p><%= @animal.latin_name %></p>
<p><%= @animal.description %></p>
<%# <%= image_tag animal.photo %>

<%= link_to '< Back', animals_path%>
