<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<h1 class="text-center">Results</h1>

<div class="container">
  <div class="cardd">
    <h3>Barramundi Fish</h3>
    <%= link_to '3D', ar_show_path({animal: "BarramundiFish", scale: 0.1}) %>
  </div>
  <div class="cardd">
    <h3>Duck</h3>
    <%= link_to '3D', ar_show_path({animal: "Duck", scale: 1}) %>
  </div>
</div>

<%= render 'shared/footer' %>
