<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<h1 class="text-center">Augmented Reality</h1>

<div class="container text-center">

<div class="p-ar">
  <p>Print <a href="https://stemkoski.github.io/AR-Examples/markers/hiro.png"><u>this picture</u></a> to try the Augmented Reality feature.</p>
</div>

  <div class="row justify-content-center">
    <div class="card-animal">
      <%= image_tag "barramoundi.jpg" %>

        <div class="card-animal-infos">
          <h3 class="titre3d">Barramundi</h3>
          <i class="i3d">Lates calcarifer</i>
          <%= link_to ar_show_path({animal: "BarramundiFish", scale: 0.08}) do %>
          <%= image_tag "btn-3d.svg", class: "btn-3d" %>
          <% end %>
        </div>
    </div>

    <div class="card-animal">
      <%= image_tag "duck.jpg" %>
      <div class="card-animal-infos">
        <h3 class="titre3d">Duck</h3>
        <i class="i3d">Anas</i>
        <%= link_to ar_show_path({animal: "Duck", scale: 1}) do %>
        <%= image_tag "btn-3d.svg", class: "btn-3d" %>
        <% end %>
      </div>
    </div>
  </div>

</div>



