<div class="logopage">
  <%= link_to root_path do %>
  <%= image_tag "logo_page.svg", class: "logo-page" %>
  <% end %>
</div>

<h1 class="text-center">Augmented Reality</h1>

<div class="container">

  <div class="row justify-content-center">
    <div class="card-animal">
      <h3>Barramundi</h3>
        <div class="card-animal-infos">
          <%= link_to ar_show_path({animal: "BarramundiFish", scale: 0.1}) do %>
          <%= image_tag "btn-3d.svg", class: "btn-3d" %>
          <% end %>
        </div>
    </div>

    <div class="card-animal">
      <h3>Duck</h3>
        <div class="card-animal-infos">
          <%= link_to ar_show_path({animal: "Duck", scale: 1}) do %>
          <%= image_tag "btn-3d.svg", class: "btn-3d" %>
          <% end %>
        </div>
    </div>
  </div>

  <div class="hiro">
    <img  alt="Hiro" src="https://stemkoski.github.io/AR-Examples/markers/hiro.png" />
  </div>

</div>



<%= render 'shared/footer' %>
