<!DOCTYPE html>
<html>
  <head>
    <title>OceanEyes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Navigation Bar</title>
  
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="imgs/favicon.png">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/searchbar' %>

    <%= yield %>
    
    <script src="js/script.js"></script>
  </body>
</html>
